package ${package}.entity;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import org.springframework.format.annotation.DateTimeFormat;
import com.fasterxml.jackson.annotation.JsonFormat;

import javax.validation.constraints.NotNull;
import java.sql.Timestamp;

/**
 * ${ClassName}实体类
 *
 * @author zzy
 * @date $date
 */
@Data
@TableName("${tableName}")
public class $ClassName {

public interface insert {
}

public interface update {
}

#foreach($dbFiled in $dbFiledList)
    #if($dbFiled.columnComment)
    @ApiModelProperty(value = "$dbFiled.columnComment")
    #else
    @ApiModelProperty(value = "$dbFiled.columnName")
    #end
    #if($dbFiled.isNullable.equals("NO")&&(!$dbFiled.columnKey||!$dbFiled.columnKey.equals(
        "PRI"))&&(!$dbFiled.columnDefault))
    @NotNull(message = "$dbFiled.columnName不能为空" , groups = {insert.class})
    #end
    #if($dbFiled.columnKey&&$dbFiled.columnKey.equals("PRI"))
    @TableId(type = IdType.UUID)
    #end
    #if($dbFiled.dataType.equals("varchar")||$dbFiled.dataType.equals("char")||$dbFiled.dataType.equals("text"))
    private String $dbFiled.humpName;
    #elseif($dbFiled.dataType.equals("int")||$dbFiled.dataType.equals("tinyint")||$dbFiled.dataType.equals("smallint"))
    private Integer $dbFiled.humpName;
    #elseif(($dbFiled.dataType.equals("double")||$dbFiled.dataType.equals("float")))
    private Double $dbFiled.humpName;
    #elseif($dbFiled.dataType.equals("datetime")||$dbFiled.dataType.equals("timestamp")||$dbFiled.dataType.equals(
        "date"))
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss" , timezone = "GMT+8")
    @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    private Timestamp $dbFiled.humpName;
    #end

#end

}
